[submodule "TuningTools"]
	path = TuningTools
	url = https://github.com/wsfreund/TuningTools.git
[submodule "RingerCore"]
	path = RingerCore
	url = https://github.com/wsfreund/RingerCore.git
[submodule "RootCoreMacros"]
	path = RootCoreMacros
	url = https://github.com/wsfreund/RootCoreMacros.git
